:root {
  /* core tokens */
  --ods-core-color-primary-100: hsl(var(--purple-05));
  --ods-core-color-primary-200: hsl(var(--purple-10));
  --ods-core-color-primary-300: hsl(var(--purple-15));
  --ods-core-color-primary-400: hsl(var(--purple-20));
  --ods-core-color-primary-500: hsl(var(--purple-30));
  --ods-core-color-primary-600: hsl(var(--purple-40));
  --ods-core-color-primary-700: hsl(var(--purple-50));
  --ods-core-color-primary-800: hsl(var(--purple-60));
  --ods-core-color-primary-900: hsl(var(--purple-70));

  --ods-core-color-neutral-100: hsl(var(--gray-05));
  --ods-core-color-neutral-200: hsl(var(--gray-10));
  --ods-core-color-neutral-300: hsl(var(--gray-15));
  --ods-core-color-neutral-400: hsl(var(--gray-20));
  --ods-core-color-neutral-500: hsl(var(--gray-30));
  --ods-core-color-neutral-600: hsl(var(--gray-40));
  --ods-core-color-neutral-700: hsl(var(--gray-50));
  --ods-core-color-neutral-800: hsl(var(--gray-60));
  --ods-core-color-neutral-900: hsl(var(--gray-70));

  --ods-core-color-accent-cool-100: hsl(var(--teal-05));
  --ods-core-color-accent-cool-200: hsl(var(--teal-10));
  --ods-core-color-accent-cool-300: hsl(var(--teal-15));
  --ods-core-color-accent-cool-400: hsl(var(--teal-20));
  --ods-core-color-accent-cool-500: hsl(var(--teal-30));
  --ods-core-color-accent-cool-600: hsl(var(--teal-40));
  --ods-core-color-accent-cool-700: hsl(var(--teal-50));
  --ods-core-color-accent-cool-800: hsl(var(--teal-60));
  --ods-core-color-accent-cool-900: hsl(var(--teal-70));

  --ods-core-color-accent-warm-100: hsl(var(--orange-05));
  --ods-core-color-accent-warm-200: hsl(var(--orange-10));
  --ods-core-color-accent-warm-300: hsl(var(--orange-15));
  --ods-core-color-accent-warm-400: hsl(var(--orange-20));
  --ods-core-color-accent-warm-500: hsl(var(--orange-30));
  --ods-core-color-accent-warm-600: hsl(var(--orange-40));
  --ods-core-color-accent-warm-700: hsl(var(--orange-50));
  --ods-core-color-accent-warm-800: hsl(var(--orange-60));
  --ods-core-color-accent-warm-900: hsl(var(--orange-70));

  --ods-core-color-pure-white: #fff;
  --ods-core-color-pure-black: #000;
}
