:root {
  color-scheme: light;
  /* semantic tokens */
  --ods-semantic-color-ui-background: var(--ods-core-color-pure-white);
  --ods-semantic-color-ui-text: var(--ods-core-color-neutral-900);

  --ods-semantic-color-surface-background-brand: var(
    --ods-core-color-primary-800
  );
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --ods-semantic-color-ui-background: var(--ods-core-color-neutral-900);
    --ods-semantic-color-ui-text: var(--ods-core-color-neutral-100);

    --ods-semantic-color-surface-background-brand: var(
      --ods-core-color-neutral-800
    );
  }
}

[color-scheme='light'] {
  color-scheme: light;

  --ods-semantic-color-ui-background: var(--ods-core-color-pure-white);
  --ods-semantic-color-ui-text: var(--ods-core-color-neutral-900);

  --ods-semantic-color-surface-background-brand: var(
    --ods-core-color-primary-800
  );
}

[color-scheme='dark'] {
  color-scheme: dark;

  --ods-semantic-color-ui-background: var(--ods-core-color-neutral-900);
  --ods-semantic-color-ui-text: var(--ods-core-color-neutral-100);

  --ods-semantic-color-surface-background-brand: var(
    --ods-core-color-neutral-800
  );
}
