:root {
  color-scheme: light;
  /* semantic tokens */
  --ods-color-surface-root: hsl(var(--ods-core-color-pure-white));
  --ods-color-surface-root-text: hsl(var(--ods-core-color-neutral-900));
  --ods-color-surface-brand: hsl(var(--ods-core-color-primary-800));
  --ods-color-surface-brand-lightened: hsl(var(--ods-core-color-pure-white) / 15%); /* can be color-mix at some point */
  --ods-color-nav-items:hsl(var(--ods-core-color-pure-white));

  /* not changing between modes */
  --ods-type-font-root:var(--ods-core-typography-font-sans-serif);
  --ods-type-font-input:var(--ods-core-typography-font-sans-serif);
  --ods-type-font-number:var(--ods-core-typography-font-monospaced);

  --ods-space-nav-items:var(--ods-core-space-xl);
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;

    --ods-color-surface-root: hsl(var(--ods-core-color-neutral-900));
    --ods-color-surface-root-text: hsl(var(--ods-core-color-neutral-100)); /* may need hsl opacity here */
    --ods-color-surface-brand: hsl(var(--ods-core-color-neutral-800));
    --ods-color-nav-items:hsl(var(--ods-core-color-neutral-100), 87%);
  }
}

[color-scheme='light'] {
  color-scheme: light;

  --ods-color-surface-root: hsl(var(--ods-core-color-pure-white));
  --ods-color-surface-root-text: hsl(var(--ods-core-color-neutral-900));
  --ods-color-surface-brand: hsl(var(--ods-core-color-primary-800));
  --ods-color-nav-items:hsl(var(--ods-core-color-pure-white));
}

[color-scheme='dark'] {
  color-scheme: dark;

  --ods-color-surface-root: hsl(var(--ods-core-color-neutral-900));
  --ods-color-surface-root-text: hsl(var(--ods-core-color-neutral-100)); /* may need hsl opacity here */
  --ods-color-surface-brand: hsl(var(--ods-core-color-neutral-800));
  --ods-color-nav-items:hsl(var(--ods-core-color-neutral-100), 87%);
}
