html {
  font-family:var(--ods-type-font-root);
  background-color: var(--ods-color-surface-root);
}

button {
  font-family:var(--ods-type-font-input);
}

body {
  margin: 0;
  color: var(--ods-color-surface-root-text);
}

a {
  text-decoration:none;
}

.temp {
  display: grid;
  place-items: center;
  grid-auto-flow: column;
  background-color: black;
  padding: 0.5rem;
}

.temp a {
  color: white;
}
