:host {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: max-content;
  grid-template: 4.5rem / 1fr; /* not token - custom to layout */
  gap: var(--ods-space-nav-items);
  background-color: var(--ods-color-surface-brand);
}

:host > * {
  display: grid;
  align-items: center;
}

/* will likely be deleted */
svg {
  fill:#fff;
  font-size:2rem;
  text-transform:uppercase;
  height:100%;
  width:100%;
}

a {
  color: var(--ods-color-surface-brand-text); 
}

:is(.inbox, .name) {
  grid-auto-flow: column;
  gap: 0.25rem; /* token */
}

.inbox::after {
  content: attr(data-count);
  background-color: green; /* token */
  padding: 0 0.25rem; /* token */
  border-radius: 50%; /* token */
  font-family: monospace; /* token */
}

.name::before {
  content: 'b';
  background-color: #fff; /* token */
  border-radius: 50%;
  font-family: 'Wingdings';
  color: gray; /* token */
}
